/* screen - faq-4 */

.faq-4 {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 1770px;
  overflow: hidden;
  width: 1440px;
}

.faq-4 .overlap-group3 {
  height: 3775px;
  margin-left: -340px;
  margin-top: -1206.09px;
  position: relative;
  width: 2354px;
}

.faq-4 .group-13174 {
  height: 2556px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2354px;
}

.faq-4 .rectangle-14 {
  background-color: var(--whiteffffff);
  height: 1894px;
  left: 340px;
  position: absolute;
  top: 1545px;
  width: 1440px;
}

.faq-4 .group-13388 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 341px;
  min-height: 91px;
  position: absolute;
  top: 1206px;
  width: 1439px;
}

.faq-4 .frame-13174 {
  align-items: center;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 90px;
  justify-content: flex-end;
  min-width: 1439px;
  padding: 0 98px;
}

.faq-4 .lspr-ng-white-01 {
  height: 20px;
  object-fit: cover;
  width: 108px;
}

.faq-4 .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 265px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 46px;
}

.faq-4 .about-us {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 69px;
}

.faq-4 .place-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 78px;
}

.faq-4 .our-courses {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 90px;
}

.faq-4 .contact-us {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 84px;
}

.faq-4 .group-13428 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 174px;
  min-width: 49px;
}

.faq-4 .overlap-group1 {
  height: 48px;
  position: relative;
  width: 49px;
}

.faq-4 .group-13375 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 22.08px;
  display: flex;
  height: 44px;
  left: 0;
  min-width: 44px;
  padding: 10.6px 10.6px;
  position: absolute;
  top: 4px;
}

.faq-4 .frame {
  height: 23px;
  width: 23px;
}

.faq-4 .overlap-group {
  align-items: flex-end;
  background-color: var(--primary-colour45b5e3);
  border-radius: 9.6px;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  left: 30px;
  min-width: 19px;
  padding: 1.8px 6.2px;
  position: absolute;
  top: 0;
}

.faq-4 .number {
  letter-spacing: 0;
  min-height: 15px;
  width: 7px;
}

.faq-4 .group-13219 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 24px;
  min-width: 127px;
}

.faq-4 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--primary-colour45b5e3);
  display: flex;
  height: 48px;
  min-width: 125px;
  padding: 14px 35px;
}

.faq-4 .sign-in {
  letter-spacing: 0;
  min-height: 19px;
}

.faq-4 .vector-283 {
  height: 2px;
  width: 1237px;
}

.faq-4 .text-445 {
  left: 758px;
  letter-spacing: 0;
  position: absolute;
  top: 1402px;
}

.faq-4 .faq {
  left: 1041px;
  letter-spacing: 0;
  position: absolute;
  top: 1372px;
}

.faq-4 .about-lspr-nigeria {
  left: 489px;
  letter-spacing: 0;
  position: absolute;
  top: 1626px;
}

.faq-4 .courses {
  cursor: pointer;
  left: 778px;
  letter-spacing: 0;
  position: absolute;
  top: 1626px;
}

.faq-4 .certificate {
  cursor: pointer;
  left: 985px;
  letter-spacing: 0;
  position: absolute;
  top: 1626px;
}

.faq-4 .account-and-profile {
  cursor: pointer;
  left: 1190px;
  letter-spacing: 0;
  position: absolute;
  top: 1626px;
}

.faq-4 .payment-and-billing {
  cursor: pointer;
  left: 1449px;
  letter-spacing: 0;
  position: absolute;
  top: 1626px;
}

.faq-4 .vector-284 {
  height: 2px;
  left: 441px;
  position: absolute;
  top: 1665px;
  width: 1237px;
}

.faq-4 .vector-285 {
  height: 2px;
  left: 483px;
  position: absolute;
  top: 1665px;
  width: 186px;
}

.faq-4 .rectangle-672 {
  background-color: var(--zircon);
  border-radius: 4px;
  height: 201px;
  left: 653px;
  position: absolute;
  top: 1730px;
  width: 814px;
}

.faq-4 .group-13441 {
  height: 160px;
  left: 618px;
  position: absolute;
  top: 1924px;
  width: 884px;
}

.faq-4 .group-13442 {
  height: 160px;
  left: 618px;
  position: absolute;
  top: 2038px;
  width: 884px;
}

.faq-4 .group-13443 {
  height: 160px;
  left: 618px;
  position: absolute;
  top: 2152px;
  width: 884px;
}

.faq-4 .group-13444 {
  height: 160px;
  left: 618px;
  position: absolute;
  top: 2266px;
  width: 884px;
}

.faq-4 .group-13445 {
  height: 160px;
  left: 618px;
  position: absolute;
  top: 2380px;
  width: 884px;
}

.faq-4 .group-13446 {
  align-items: center;
  background-color: var(--whiteffffff);
  border-radius: 4px;
  display: flex;
  height: 90px;
  left: 653px;
  min-width: 814px;
  padding: 0 32px;
  position: absolute;
  top: 2525px;
}

.faq-4 .text-446 {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 181px;
}

.faq-4 .frame-1 {
  height: 32px;
  margin-left: 537px;
  width: 32px;
}

.faq-4 .group-13432 {
  align-items: center;
  display: flex;
  height: 40px;
  left: 685px;
  min-width: 752px;
  position: absolute;
  top: 1754px;
}

.faq-4 .text-447 {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 187px;
}

.faq-4 .frame-2 {
  height: 40px;
  margin-left: 523px;
  width: 40px;
}

.faq-4 .text-448 {
  color: #2d4367;
  font-family: var(--font-family-sen);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 686px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1810px;
  width: 748px;
}

.faq-4 .group-13513 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 799px;
  min-height: 194px;
  position: absolute;
  top: 2663px;
  width: 523px;
}

.faq-4 .group-13439 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 4.0px;
  min-height: 115px;
  width: 527px;
}

.faq-4 .text-449 {
  letter-spacing: 0;
  margin-right: 3.0px;
  min-height: 43px;
  min-width: 310px;
}

.faq-4 .text-450 {
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 4.0px;
  margin-top: 16px;
  min-height: 56px;
  text-align: center;
  width: 523px;
}

.faq-4 .frame-13196 {
  align-items: center;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 55px;
  margin-left: 2.0px;
  margin-top: 24px;
  min-width: 249px;
  padding: 0 82.5px;
}

.faq-4 .contact-us-1 {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 84px;
}

.faq-4 .group-13512 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 340px;
  min-height: 772px;
  position: absolute;
  top: 3003px;
  width: 1446px;
}

.faq-4 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--zircon);
  display: flex;
  flex-direction: column;
  min-height: 302px;
  padding: 55px 0;
  width: 1440px;
}

.faq-4 .enrol-now {
  letter-spacing: 0;
  margin-left: 100px;
  min-height: 22px;
}

.faq-4 .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  height: 84px;
  margin-top: 8px;
  min-width: 1240px;
}

.faq-4 .text-452 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 84px;
  width: 405px;
}

.faq-4 .text-451 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 130px;
  margin-top: 8.0px;
  min-height: 60px;
  width: 705px;
}

.faq-4 .frame-12247 {
  align-items: center;
  background-color: var(--primary-colour1f365d);
  cursor: pointer;
  display: flex;
  height: 54px;
  margin-left: 100px;
  margin-top: 24px;
  min-width: 187px;
  padding: 0 35px;
}

.faq-4 .explore-courses {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 117px;
}

.faq-4 .component-2 {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  flex-direction: column;
  min-height: 470px;
  padding: 28px 99px;
  width: 1440px;
}

.faq-4 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 241px;
  margin-left: 0.95px;
  margin-top: 43px;
  min-width: 1238px;
}

.faq-4 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 193px;
  width: 399px;
}

.faq-4 .lspr-ng-white-01-1 {
  height: 23px;
  object-fit: cover;
  width: 124px;
}

.faq-4 .text-454 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 0.05px;
  margin-top: 24px;
  min-height: 78px;
  width: 399px;
}

.faq-4 .group-13515 {
  height: 44px;
  margin-left: 0.05px;
  margin-top: 24px;
  width: 248px;
}

.faq-4 .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  min-height: 232px;
  width: 175px;
}

.faq-4 .our-links {
  letter-spacing: 0;
  min-height: 21px;
}

.faq-4 .vector-2 {
  height: 2px;
  margin-top: 11px;
  width: 110px;
}

.faq-4 .place-2 {
  letter-spacing: 0;
  margin-top: 23px;
  min-height: 19px;
}

.faq-4 .flex-col-item {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 19px;
}

.faq-4 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-top: 9px;
  min-height: 111px;
  width: 112px;
}

.faq-4 .group-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 33px;
  width: 112px;
}

.faq-4 .support {
  letter-spacing: 0;
  min-height: 21px;
}

.faq-4 .faq-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 19px;
}

.faq-4 .contact-us-2 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 19px;
}

.faq-4 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 138px;
  margin-top: 9px;
  min-height: 111px;
  width: 159px;
}

.faq-4 .place-3 {
  letter-spacing: 0;
  min-height: 21px;
}

.faq-4 .policy-privacy {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 19px;
}

.faq-4 .terms-and-condition {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 19px;
}

.faq-4 .group-13218 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 43px;
  width: 1241px;
}

.faq-4 .vector-3 {
  height: 2px;
  margin-right: 2.0px;
  margin-top: -1px;
  width: 1239px;
}

.faq-4 .address {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 23px;
  min-height: 19px;
  min-width: 295px;
}

@media (max-width: 600px) {
  .faq-4 {
    width: auto;
  }

  .faq-4 .group-13513 {
    left: 269px;
  }

  .faq-4 .text-450 {
    width: 324px;
    margin-right: 0;
  }

  .faq-4 .group-13439 {
    width: 339px;
  }

  .faq-4 .text-445 {
    left: 365px;
    width: 336px;
    text-align: center;
    line-height: 40px;
  }

  .faq-4 .faq {
    left: 515px;
  }

  .s-header {
    display: flex;
    position: relative;
    /* width: 680px; */
    left: -60px;
  }

  .faq-4 .about-lspr-nigeria {
    left: 489px;
  }

  .faq-4 .about-lspr-nigeria,
  .faq-4 .courses,
  .faq-4 .certificate,
  .faq-4 .account-and-profile,
  .faq-4 .payment-and-billing {
    font-size: 16px;
  }

  .c-section {
    position: relative;
    display: flex;
    left: -261px;
    top: 147px;
  }

  .faq-4 .rectangle-672 {
    height: 355px;
    width: 291px;
  }

  .faq-4 .text-448 {
    line-height: 26px;
    width: 233px;
    font-size: 16px;
  }

  .faq-4 .courses {
    left: 488px;
    top: 1672px;
  }

  .faq-4 .certificate {
    left: 488px;
    top: 1713px;
  }

  .faq-4 .account-and-profile {
    left: 488px;
    top: 1752px;
  }

  .faq-4 .payment-and-billing {
    left: 488px;
    top: 1795px;
  }

  .faq-4 .vector-284 {
    width: 308px;
    top: 1657px;
  }

  .faq-4 .vector-285 {
    left: 425px;
    top: 1657px;
  }
}