/* screen - forget-password */

.forget-password {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 851px;
  padding: 0 100px;
  width: 1440px;
}

.forget-password .logo {
  color: var(--whiteffffff);
  font-family: var(--font-family-playfair_display-regular);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 49px;
  min-height: 27px;
  min-width: 45px;
}

.forget-password .lspr-ng-white-01 {
  height: 20px;
  margin-top: 40px;
  object-fit: cover;
  width: 108px;
}

.forget-password .overlap-group1 {
  align-items: center;
  background-color: var(--whiteffffff);
  display: flex;
  flex-direction: column;
  margin-left: 210px;
    margin-top: 166px;
  min-height: 468px;
  padding: 43px 0;
  width: 606px;
}

.forget-password .forgot-your-password {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 39px;
  margin-top: 4px;
  min-height: 32px;
}

.forget-password .enter-your-registere {
  letter-spacing: 0;
  line-height: 26px;
  margin-right: 2.0px;
  margin-top: 16px;
  min-height: 52px;
  width: 526px;
}

.forget-password .registered-email-address {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 39px;
  margin-top: 32px;
  min-height: 19px;
}

.forget-password .overlap-group2 {
  align-items: flex-start;
  background-color: var(--whiteffffff);
  display: flex;
  height: 56px;
  margin-top: 17px;
  min-width: 526px;
  padding: 17px 23px;
}

.forget-password .enter-your-registered-email-address {
  letter-spacing: 0;
  min-height: 19px;
}

.forget-password .group-77 {
  align-items: flex-start;
  display: flex;
  margin-top: 31px;
  min-width: 528px;
}

.forget-password .overlap-group {
  align-items: flex-end;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 56px;
  min-width: 526px;
  padding: 18px 229px;
}

.forget-password .continue {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 68px;
}

.forget-password .vector-4 {
  height: 2px;
  margin-right: 2.0px;
  margin-top: 23px;
  width: 526px;
}

.forget-password .return-to-sign-in-page {
  align-self: flex-start;
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 39px;
  margin-top: 23px;
  min-height: 19px;
}

@media (max-width: 600px) {
  form{
    width: 100%
  }
  
  .forget-password {
    padding: 0 30px;
    width: 390px;
  }

  .forget-password .overlap-group1 {
    margin-left: -127px;
    width: 330px;
    padding: 15px;
  }

  .forget-password .forgot-your-password {
    font-size: 22px;
    margin-left: 20px;
  }

  .forget-password .enter-your-registere {
    width: 255px;
  }

  .forget-password .overlap-group2 {
    min-width: 256px;
  }

  .forget-password .group-77 {
    min-width: 0;
  }

  .forget-password .overlap-group {
    min-width: 0;
    padding: 16px 93px;
  }

  .forget-password .vector-4 {
    width: 254px;
  }

  .forget-password .registered-email-address {
    margin-left: 20px;
  }
}