/* screen - forgot-password-email-notiication */

.forgot-password-email-notiication {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  width: 1440px;
}

.forgot-password-email-notiication .overlap-group3 {
  height: 851px;
  position: relative;
  width: 1440px;
}

.forgot-password-email-notiication .logo {
  color: var(--grey838383);
  font-family: var(--font-family-playfair_display);
  font-size: 20px;
  font-weight: 400;
  left: 100px;
  letter-spacing: 0;
  position: absolute;
  top: 49px;
}

.forgot-password-email-notiication .rectangle-14 {
  background-color: var(--whiteffffff);
  height: 468px;
  left: 417px;
  position: absolute;
  top: 145px;
  width: 606px;
}

.forgot-password-email-notiication .text-528 {
  left: 457px;
  letter-spacing: 0;
  position: absolute;
  top: 193px;
}

.forgot-password-email-notiication .text-529 {
  left: 457px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 241px;
  width: 526px;
}

.forgot-password-email-notiication .email-address {
  left: 457px;
  letter-spacing: 0;
  position: absolute;
  top: 325px;
}

.forgot-password-email-notiication .rectangle-17 {
  background-color: var(--whiteffffff);
  border-radius: 14px;
  height: 56px;
  left: 457px;
  position: absolute;
  top: 360px;
  width: 526px;
}

.forgot-password-email-notiication .text-530 {
  left: 481px;
  letter-spacing: 0;
  position: absolute;
  top: 378px;
}

.forgot-password-email-notiication .overlap-group {
  align-items: flex-end;
  background-color: var(--primary-colour1f365d);
  border-radius: 14px;
  display: flex;
  height: 56px;
  left: 457px;
  min-width: 526px;
  padding: 18px 229px;
  position: absolute;
  top: 448px;
}

.forgot-password-email-notiication .continue {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 68px;
}

.forgot-password-email-notiication .text-531 {
  left: 457px;
  letter-spacing: 0;
  position: absolute;
  top: 552px;
}

.forgot-password-email-notiication .vector-4 {
  height: 2px;
  left: 457px;
  position: absolute;
  top: 527px;
  width: 526px;
}

.forgot-password-email-notiication .rectangle-15 {
  background-color: var(--black-2);
  height: 851px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.forgot-password-email-notiication .rectangle-18 {
  background-color: var(--whiteffffff);
  height: 503px;
  left: 457px;
  position: absolute;
  top: 174px;
  width: 526px;
}

.forgot-password-email-notiication .vector-5 {
  height: 2px;
  left: 497px;
  position: absolute;
  top: 606px;
  width: 449px;
}

.forgot-password-email-notiication .group-102 {
  align-items: flex-start;
  border-radius: 75px;
  display: flex;
  height: 150px;
  left: 645px;
  min-width: 150px;
  padding: 16.2px 16.2px;
  position: absolute;
  top: 211px;
}

.forgot-password-email-notiication .overlap-group1 {
  border-radius: 58.75px;
  height: 118px;
  position: relative;
  width: 118px;
}

.forgot-password-email-notiication .ellipse-5 {
  background-color: var(--onahau-3);
  border-radius: 45px;
  height: 90px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 90px;
}

.forgot-password-email-notiication .iconly-bold-message {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 28px;
  min-width: 60px;
  padding: 0 5.0px;
  position: absolute;
  top: 27px;
}

.forgot-password-email-notiication .message {
  height: 46px;
  width: 50px;
}

.forgot-password-email-notiication .check-your-mail {
  left: 630px;
  letter-spacing: 0;
  position: absolute;
  top: 377px;
}

.forgot-password-email-notiication .text-532 {
  left: 535px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 425px;
  width: 370px;
}

.forgot-password-email-notiication .text-533 {
  left: 497px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 631px;
}

.forgot-password-email-notiication .group-87 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 56px;
  left: 497px;
  min-width: 448px;
  position: absolute;
  top: 527px;
}

.forgot-password-email-notiication .overlap-group2 {
  align-items: flex-end;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 56px;
  min-width: 446px;
  padding: 18px 183px;
}

.forgot-password-email-notiication .go-to-mail {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 79px;
}
