/* screen - instructors */

.instructors {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 1455px;
  overflow: hidden;
  width: 1440px;
}

.instructors .overlap-group3 {
  height: 3434px;
  margin-left: -340px;
  margin-top: -1206.09px;
  position: relative;
  width: 2354px;
}

.instructors .group-13174 {
  height: 2556px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2354px;
}

.instructors .rectangle-14 {
  background-color: var(--whiteffffff);
  height: 1889px;
  left: 340px;
  position: absolute;
  top: 1545px;
  width: 1440px;
}

.instructors .instr-block {
  display: flex;
  flex-wrap: wrap;
  --z-index: 0;
  background-color: transparent;
  height: 417px;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 1240px;
}

.instructors .frame-12264 {
  display: flex;
  background-size: 100% 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 440px;
  height: 280px;
  position: relative;
  top: 1611px;
  width: 280px;
  margin: 0 1% 225px;
}

.instructors .frame-12286 {
  align-items: center;
  display: flex;
  margin-top: 316px;
  min-width: 241px;
}

.instructors .frame-12311 {
  align-items: center;
  display: flex;
  min-width: 207px;
}

.instructors .text-5 {
  height: 24px;
  letter-spacing: 0;
  min-width: 199px;
}

.instructors .vector-284 {
  height: 20px;
  margin-left: 7px;
  width: 2px;
}

.instructors .frame-12255 {
  height: 26px;
  margin-left: 8px;
  width: 26px;
}

.instructors .frame-13115 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 67px;
  width: 258px;
}

.instructors .text-5-1 {
  height: 19px;
  letter-spacing: 0;
}

.instructors .frame-12262 {
  align-items: center;
  display: flex;
  height: 32px;
  margin-top: 45px;
  min-width: 111px;
  padding: 0 30px;
}

.instructors .read-bio {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 51px;
}

.instructors .frame-12265 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 760px;
  min-height: 417px;
  position: absolute;
  top: 1611px;
  width: 280px;
}

.instructors .group-12899 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 16px;
  min-width: 111px;
}

.instructors .frame-12262-1 {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 111px;
  padding: 0 30px;
}

.instructors .frame-12266 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1080px;
  min-height: 417px;
  position: absolute;
  top: 1611px;
  width: 280px;
}

.instructors .frame-12267 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1400px;
  min-height: 417px;
  position: absolute;
  top: 1611px;
  width: 280px;
}

.instructors .frame-12289 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 440px;
  min-height: 417px;
  position: absolute;
  top: 2098px;
  width: 280px;
}

.instructors .frame-12288 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 760px;
  min-height: 417px;
  position: absolute;
  top: 2098px;
  width: 280px;
}

.instructors .frame-12287 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1080px;
  min-height: 417px;
  position: absolute;
  top: 2098px;
  width: 280px;
}

.instructors .frame-12271 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1400px;
  min-height: 417px;
  position: absolute;
  top: 2098px;
  width: 280px;
}

.instructors .our-instructors {
  left: 863px;
  letter-spacing: 0;
  position: absolute;
  top: 1385px;
}

.instructors .group-13388 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 341px;
  min-height: 91px;
  position: absolute;
  top: 1206px;
  width: 1439px;
}

.instructors .frame-13174 {
  align-items: center;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 90px;
  justify-content: flex-end;
  min-width: 1439px;
  padding: 0 98px;
}

.instructors .lspr-ng-white-01 {
  height: 20px;
  object-fit: cover;
  width: 108px;
}

.instructors .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 265px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 46px;
}

.instructors .about-us {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 69px;
}

.instructors .place-1 {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 78px;
}

.instructors .our-courses {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 90px;
}

.instructors .contact-us {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 32px;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 84px;
}

.instructors .group-13428 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 174px;
  min-width: 49px;
}

.instructors .overlap-group1 {
  height: 48px;
  position: relative;
  width: 49px;
}

.instructors .group-13375 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 22.08px;
  display: flex;
  height: 44px;
  left: 0;
  min-width: 44px;
  padding: 10.6px 10.6px;
  position: absolute;
  top: 4px;
}

.instructors .frame {
  height: 23px;
  width: 23px;
}

.instructors .overlap-group {
  align-items: flex-end;
  background-color: var(--primary-colour45b5e3);
  border-radius: 9.6px;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  left: 30px;
  min-width: 19px;
  padding: 1.8px 6.2px;
  position: absolute;
  top: 0;
}

.instructors .number {
  letter-spacing: 0;
  min-height: 15px;
  width: 7px;
}

.instructors .group-13219 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 24px;
  min-width: 127px;
}

.instructors .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--primary-colour45b5e3);
  display: flex;
  height: 48px;
  min-width: 125px;
  padding: 14px 35px;
}

.instructors .sign-in {
  letter-spacing: 0;
  min-height: 19px;
}

.instructors .vector-283 {
  height: 2px;
  width: 1237px;
}

.instructors .group-13510 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 340px;
  min-height: 772px;
  position: absolute;
  top: 2661px;
  width: 1446px;
}

.instructors .overlap-group2 {
  align-items: flex-start;
  background-color: var(--zircon);
  display: flex;
  flex-direction: column;
  min-height: 302px;
  padding: 55px 0;
  width: 1440px;
}

.instructors .enrol-now {
  letter-spacing: 0;
  margin-left: 100px;
  min-height: 22px;
}

.instructors .flex-row {
  align-items: center;
  align-self: center;
  display: flex;
  height: 84px;
  margin-top: 8px;
  min-width: 1240px;
}

.instructors .text-560 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 84px;
  width: 405px;
}

.instructors .text-559 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 130px;
  margin-top: 8.0px;
  min-height: 60px;
  width: 705px;
}

.instructors .frame-12247 {
  align-items: center;
  background-color: var(--primary-colour1f365d);
  cursor: pointer;
  display: flex;
  height: 54px;
  margin-left: 100px;
  margin-top: 24px;
  min-width: 187px;
  padding: 0 35px;
}

.instructors .explore-courses {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 117px;
}

.instructors .component-2 {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  flex-direction: column;
  min-height: 470px;
  padding: 28px 99px;
  width: 1440px;
}

.instructors .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 241px;
  margin-left: 0.95px;
  margin-top: 43px;
  min-width: 1238px;
}

.instructors .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 193px;
  width: 399px;
}

.instructors .lspr-ng-white-01-1 {
  height: 23px;
  object-fit: cover;
  width: 124px;
}

.instructors .text-562 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 0.05px;
  margin-top: 24px;
  min-height: 78px;
  width: 399px;
}

.instructors .group-13515 {
  height: 44px;
  margin-left: 0.05px;
  margin-top: 24px;
  width: 248px;
}

.instructors .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  min-height: 232px;
  width: 175px;
}

.instructors .our-links {
  letter-spacing: 0;
  min-height: 21px;
}

.instructors .vector-2 {
  height: 2px;
  margin-top: 11px;
  width: 110px;
}

.instructors .place-2 {
  letter-spacing: 0;
  margin-top: 23px;
  min-height: 19px;
}

.instructors .flex-col-item {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 19px;
}

.instructors .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-top: 9px;
  min-height: 111px;
  width: 112px;
}

.instructors .group-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 33px;
  width: 112px;
}

.instructors .support {
  letter-spacing: 0;
  min-height: 21px;
}

.instructors .faq {
  cursor: pointer;
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 19px;
}

.instructors .contact-us-1 {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 19px;
}

.instructors .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 138px;
  margin-top: 9px;
  min-height: 111px;
  width: 159px;
}

.instructors .place-3 {
  letter-spacing: 0;
  min-height: 21px;
}

.instructors .policy-privacy {
  letter-spacing: 0;
  margin-top: 24px;
  min-height: 19px;
}

.instructors .terms-and-condition {
  letter-spacing: 0;
  margin-top: 16px;
  min-height: 19px;
}

.instructors .group-13218 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 43px;
  width: 1241px;
}

.instructors .vector-3 {
  height: 2px;
  margin-right: 2.0px;
  margin-top: -1px;
  width: 1239px;
}

.instructors .address {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 23px;
  min-height: 19px;
  min-width: 295px;
}

@media (max-width: 600px) {
  .instructors {
    width: 390px;
    height: 2802px;
  }

  .instructors .our-instructors {
    left: 393px;
    font-size: 36px;
    width: 270px;
    display: flex;
    position: absolute;
  }

  .instructors .instr-block {
    display: block;
  }

  .instructors .frame-12264 {
    left: 395px;
    margin: 0 1% 15% 0;
  }

  .instructors .rectangle-14 {
    height: 2465px;
  }
}