/* screen - macbook-pro-226 */

.macbook-pro-226 {
  background-color: #f9f9f9;
  height: 1118px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.macbook-pro-226 .component-58-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 70px;
  left: 241px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1199px;
}

.macbook-pro-226 .rectangle-660-IWHs70 {
  --z-index: 0;
  background-color: #ffffff;
  height: 70px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1199px;
}

.macbook-pro-226 .group-14007-IWHs70 {
  --z-index: 1;
  background-color: transparent;
  height: 40px;
  left: 956px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 206px;
}

.macbook-pro-226 .adenike-adesanoye-xwoTa6 {
  --z-index: 0;
  background-color: transparent;
  color: #4b4c4e;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-226 .ellipse-148-xwoTa6 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-148@2x.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 40px;
}

.macbook-pro-226 .group-14010-IWHs70 {
  --z-index: 2;
  background-color: transparent;
  height: 48px;
  left: 875px;
  opacity: 1;
  position: absolute;
  top: 11px;
  width: 49px;
}

.macbook-pro-226 .group-13375-VgxClA {
  --z-index: 0;
  background-color: transparent;
  height: 44px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 4px;
  width: 44px;
}

.macbook-pro-226 .ellipse-141-g3v7GY {
  --z-index: 0;
  background-color: #ecf9ff;
  border-radius: 22.08px;
  height: 44px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 44px;
}

.macbook-pro-226 .frame-g3v7GY {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/frame-7@2x.svg);
  background-size: 100% 100%;
  height: 23px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 11px;
  width: 23px;
}

.macbook-pro-226 .group-13419-VgxClA {
  --z-index: 1;
  background-color: transparent;
  height: 19px;
  left: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 21px;
}

.macbook-pro-226 .ellipse-142-gEQMpK {
  --z-index: 0;
  background-color: #45b5e3;
  border-radius: 9.6px;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 19px;
}

.macbook-pro-226 .number-gEQMpK {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: 7px;
}

.macbook-pro-226 .vector-305-IWHs70 {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-305@2x.svg);
  background-size: 100% 100%;
  height: 44px;
  left: 939px;
  opacity: 1;
  position: absolute;
  top: 13px;
  width: 2px;
}

.macbook-pro-226 .assessment-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Playfair Display', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 273px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.macbook-pro-226 .here-are-details-abo-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 273px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 146px;
  width: auto;
}

.macbook-pro-226 .group-14421-C61RwL {
  --z-index: 3;
  background-color: transparent;
  height: 313px;
  left: 273px;
  opacity: 1;
  position: absolute;
  top: 197px;
  width: 1129px;
}

.macbook-pro-226 .rectangle-634-YPPG17 {
  --z-index: 0;
  background-color: #ffffff;
  height: 313px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1127px;
}

.macbook-pro-226 .ongoing-assessment-YPPG17 {
  --z-index: 1;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Playfair Display', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 24px;
  width: auto;
}

.macbook-pro-226 .group-14223-YPPG17 {
  --z-index: 2;
  background-color: transparent;
  height: 225px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 64px;
  width: 1079px;
}

.macbook-pro-226 .rectangle-635-aFVi3F {
  --z-index: 0;
  background-color: #ffffff;
  border: 1px solid #e9e8e8;
  height: 225px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1079px;
}

.macbook-pro-226 .group-14023-aFVi3F {
  --z-index: 1;
  background-color: transparent;
  height: 162px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 32px;
  width: 1031px;
}

.macbook-pro-226 .frame-13895-dvbAVx {
  --z-index: 0;
  background-color: transparent;
  height: 32px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1031px;
}

.macbook-pro-226 .frame-13994-jb0PuY {
  --z-index: 0;
  background-color: transparent;
  height: 19px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 68px;
}

.macbook-pro-226 .module-2-9Y6VCJ {
  --z-index: 0;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.macbook-pro-226 .frame-13894-jb0PuY {
  --z-index: 1;
  background-color: #e4f3ff;
  border-radius: 50px;
  height: 32px;
  left: 84px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 89px;
}

.macbook-pro-226 .ongoing-9iDauG {
  --z-index: 0;
  background-color: transparent;
  color: #0087f3;
  font-family: 'Sen', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  width: auto;
}

.macbook-pro-226 .group-13987-dvbAVx {
  --z-index: 1;
  background-color: transparent;
  height: 79px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 48px;
  width: 1029px;
}

.macbook-pro-226 .fundamentals-of-public-relations-pr01-uaKpjx {
  --z-index: 0;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1025px;
}

.macbook-pro-226 .learn-how-to-create-uaKpjx {
  --z-index: 1;
  background-color: transparent;
  color: #828282;
  font-family: 'Sen', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 708px;
}

.macbook-pro-226 .group-14021-dvbAVx {
  --z-index: 2;
  background-color: transparent;
  height: 19px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 143px;
  width: 364px;
}

.macbook-pro-226 .rectangle-696-rpZVod {
  --z-index: 0;
  background-color: #e3e2e2;
  border-radius: 20px;
  height: 8px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 315px;
}

.macbook-pro-226 .rectangle-698-rpZVod {
  --z-index: 1;
  background-color: #0088f3;
  border-radius: 20px;
  height: 8px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 163px;
}

.macbook-pro-226 .percent-rpZVod {
  --z-index: 2;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 331px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.macbook-pro-226 .frame-13903-YPPG17 {
  --z-index: 3;
  background-color: #1f365d;
  cursor: pointer;
  height: 51px;
  left: 909px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 170px;
}

.macbook-pro-226 .continue-o6NLei {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-226 .group-14602-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 533px;
  left: 273px;
  opacity: 1;
  position: absolute;
  top: 534px;
  width: 1131px;
}

.macbook-pro-226 .rectangle-634-2kvzaa {
  --z-index: 0;
  background-color: #ffffff;
  height: 533px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1127px;
}

.macbook-pro-226 .project-2kvzaa {
  --z-index: 1;
  background-color: transparent;
  color: #828282;
  cursor: pointer;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 97px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.macbook-pro-226 .test-2kvzaa {
  --z-index: 2;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.macbook-pro-226 .vector-284-2kvzaa {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-284@1x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 74px;
  width: 1079px;
}

.macbook-pro-226 .vector-285-2kvzaa {
  --z-index: 4;
  background-color: transparent;
  background-image: url(../img/vector-285@2x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 74px;
  width: 59px;
}

.macbook-pro-226 .group-13994-2kvzaa {
  --z-index: 5;
  background-color: transparent;
  height: 196px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 99px;
  width: 1079px;
}

.macbook-pro-226 .rectangle-635-PkcPpT {
  --z-index: 0;
  background-color: #ffffff;
  border: 1px solid #e9e8e8;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1079px;
}

.macbook-pro-226 .group-13991-PkcPpT {
  --z-index: 1;
  background-color: transparent;
  height: 149px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 1043px;
}

.macbook-pro-226 .fundamentals-of-public-relations-pr01-6shCj7 {
  --z-index: 0;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1039px;
}

.macbook-pro-226 .learn-how-to-create-6shCj7 {
  --z-index: 1;
  background-color: transparent;
  color: #828282;
  font-family: 'Sen', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 708px;
}

.macbook-pro-226 .frame-13894-6shCj7 {
  --z-index: 2;
  background-color: #f5f5f5;
  border-radius: 50px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 117px;
  width: 226px;
}

.macbook-pro-226 .date-registered-15-october2021-XjYnmZ {
  --z-index: 0;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: auto;
}

.macbook-pro-226 .frame-13892-2kvzaa {
  --z-index: 6;
  background-color: #1f365d;
  cursor: pointer;
  height: 51px;
  left: 927px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 172px;
  width: 152px;
}

.macbook-pro-226 .view-test-i4H8O5 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-226 .group-13992-2kvzaa {
  --z-index: 7;
  background-color: transparent;
  height: 196px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 319px;
  width: 1079px;
}

.macbook-pro-226 .rectangle-635-CxM1Uy {
  --z-index: 0;
  background-color: #ffffff;
  border: 1px solid #e9e8e8;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1079px;
}

.macbook-pro-226 .group-13990-CxM1Uy {
  --z-index: 1;
  background-color: transparent;
  height: 149px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 1043px;
}

.macbook-pro-226 .implementing-a-susta-52Gniu {
  --z-index: 0;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1039px;
}

.macbook-pro-226 .learn-how-to-manage-52Gniu {
  --z-index: 1;
  background-color: transparent;
  color: #828282;
  font-family: 'Sen', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 708px;
}

.macbook-pro-226 .frame-13894-52Gniu {
  --z-index: 2;
  background-color: #f5f5f5;
  border-radius: 50px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 117px;
  width: 237px;
}

.macbook-pro-226 .date-registered-24-december2021-2dewZZ {
  --z-index: 0;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: auto;
}

.macbook-pro-226 .frame-13893-2kvzaa {
  --z-index: 8;
  background-color: #1f365d;
  cursor: pointer;
  height: 51px;
  left: 927px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 392px;
  width: 152px;
}

.macbook-pro-226 .view-test-EPD5ot {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-226 .frame-13896-C61RwL {
  --z-index: 5;
  background-color: #1f365d;
  cursor: pointer;
  height: 51px;
  left: 1230px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 117px;
  width: 170px;
}

.macbook-pro-226 .join-live-class-auh9YC {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-226 .component-68-C61RwL {
  --z-index: 6;
  background-color: transparent;
  height: 900px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 241px;
}

.macbook-pro-226 .rectangle-614-nNsPgi {
  --z-index: 0;
  background-color: #1f365d;
  height: 900px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 241px;
}

.macbook-pro-226 .lspr-ng-white-01-nNsPgi {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/lspr-ng-white-01-1@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  width: 88px;
}

.macbook-pro-226 .vector-297-nNsPgi {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vector-297@2x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 63px;
  width: 193px;
}

.macbook-pro-226 .group-13877-nNsPgi {
  --z-index: 3;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 91px;
  width: 131px;
}

.macbook-pro-226 .group-13876-k8wJNV {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-226 .frame-13876-k8wJNV {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 115px;
}

.macbook-pro-226 .frame-AHo18u {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-2@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-226 .dashboard-AHo18u {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-226 .group-13878-nNsPgi {
  --z-index: 4;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 143px;
  width: 135px;
}

.macbook-pro-226 .group-13879-Khdl9f {
  --z-index: 0;
  background-color: transparent;
  height: 36px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 135px;
}

.macbook-pro-226 .group-13876-xJ1Ryu {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-226 .frame-13878-xJ1Ryu {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 119px;
}

.macbook-pro-226 .frame-kem3xV {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-3@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-226 .my-courses-kem3xV {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-226 .group-13882-nNsPgi {
  --z-index: 5;
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 195px;
  width: 193px;
}

.macbook-pro-226 .group-13879-eiKoXl {
  --z-index: 0;
  background-color: transparent;
  height: 48px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 193px;
}

.macbook-pro-226 .group-13876-cdybMX {
  --z-index: 0;
  background-color: transparent;
  height: 48px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 193px;
}

.macbook-pro-226 .rectangle-627-dZvPEy {
  --z-index: 0;
  background-color: #ffffff14;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 193px;
}

.macbook-pro-226 .frame-13878-cdybMX {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 147px;
}

.macbook-pro-226 .frame-M7M1x0 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-4@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-226 .my-assessment-M7M1x0 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-226 .group-13883-nNsPgi {
  --z-index: 6;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 247px;
  width: 158px;
}

.macbook-pro-226 .group-13879-3eiKdE {
  --z-index: 0;
  background-color: transparent;
  height: 36px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 158px;
}

.macbook-pro-226 .group-13876-gGmxwX {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-226 .frame-13878-gGmxwX {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 142px;
}

.macbook-pro-226 .certificate-1-6weCYu {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/certificate-1@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-226 .my-certificate-6weCYu {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-226 .group-13880-nNsPgi {
  --z-index: 7;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 419px;
  width: 110px;
}

.macbook-pro-226 .group-13876-uNmFeH {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-226 .frame-13878-uNmFeH {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 94px;
}

.macbook-pro-226 .frame-xAgg2Q {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-5@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-226 .settings-xAgg2Q {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-226 .group-13881-nNsPgi {
  --z-index: 8;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 471px;
  width: 110px;
}

.macbook-pro-226 .group-13876-LWb7Ty {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-226 .frame-13878-LWb7Ty {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 94px;
}

.macbook-pro-226 .frame-CUDywr {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-6@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-226 .log-out-CUDywr {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}
/* screen - macbook-pro-263 */

.macbook-pro-263 {
  background-color: #f9f9f9;
  height: 900px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.macbook-pro-263 .component-58-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 70px;
  left: 241px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1199px;
}

.macbook-pro-263 .rectangle-660-IWHs70 {
  --z-index: 0;
  background-color: #ffffff;
  height: 70px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1199px;
}

.macbook-pro-263 .group-14007-IWHs70 {
  --z-index: 1;
  background-color: transparent;
  height: 40px;
  left: 956px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 206px;
}

.macbook-pro-263 .adenike-adesanoye-xwoTa6 {
  --z-index: 0;
  background-color: transparent;
  color: #4b4c4e;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-263 .ellipse-148-xwoTa6 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-148@2x.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 40px;
}

.macbook-pro-263 .group-14010-IWHs70 {
  --z-index: 2;
  background-color: transparent;
  height: 48px;
  left: 875px;
  opacity: 1;
  position: absolute;
  top: 11px;
  width: 49px;
}

.macbook-pro-263 .group-13375-VgxClA {
  --z-index: 0;
  background-color: transparent;
  height: 44px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 4px;
  width: 44px;
}

.macbook-pro-263 .ellipse-141-g3v7GY {
  --z-index: 0;
  background-color: #ecf9ff;
  border-radius: 22.08px;
  height: 44px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 44px;
}

.macbook-pro-263 .frame-g3v7GY {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/frame@2x.svg);
  background-size: 100% 100%;
  height: 23px;
  left: 11px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 11px;
  width: 23px;
}

.macbook-pro-263 .group-13419-VgxClA {
  --z-index: 1;
  background-color: transparent;
  height: 19px;
  left: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 21px;
}

.macbook-pro-263 .ellipse-142-gEQMpK {
  --z-index: 0;
  background-color: #45b5e3;
  border-radius: 9.6px;
  height: 19px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 19px;
}

.macbook-pro-263 .number-gEQMpK {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: 7px;
}

.macbook-pro-263 .vector-305-IWHs70 {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/vector-305@2x.svg);
  background-size: 100% 100%;
  height: 44px;
  left: 939px;
  opacity: 1;
  position: absolute;
  top: 13px;
  width: 2px;
}

.macbook-pro-263 .assessment-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Playfair Display', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 273px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.macbook-pro-263 .here-are-details-abo-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 273px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 146px;
  width: auto;
}

.macbook-pro-263 .rectangle-634-C61RwL {
  --z-index: 3;
  background-color: #ffffff;
  height: 703px;
  left: 273px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 197px;
  width: 1127px;
}

.macbook-pro-263 .project-C61RwL {
  --z-index: 4;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 370px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 229px;
  width: auto;
}

.macbook-pro-263 .test-C61RwL {
  --z-index: 5;
  background-color: transparent;
  color: #828282;
  cursor: pointer;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 297px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 229px;
  width: auto;
}

.macbook-pro-263 .vector-284-C61RwL {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/vector-284@1x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 297px;
  opacity: 1;
  position: absolute;
  top: 271px;
  width: 1079px;
}

.macbook-pro-263 .vector-285-C61RwL {
  --z-index: 7;
  background-color: transparent;
  background-image: url(../img/vector-285-3@2x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 370px;
  opacity: 1;
  position: absolute;
  top: 271px;
  width: 64px;
}

.macbook-pro-263 .group-13994-C61RwL {
  --z-index: 8;
  background-color: transparent;
  height: 196px;
  left: 297px;
  opacity: 1;
  position: absolute;
  top: 296px;
  width: 1079px;
}

.macbook-pro-263 .rectangle-635-F3Xmum {
  --z-index: 0;
  background-color: #ffffff;
  border: 1px solid #e9e8e8;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1079px;
}

.macbook-pro-263 .group-13991-F3Xmum {
  --z-index: 1;
  background-color: transparent;
  height: 149px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 1043px;
}

.macbook-pro-263 .fundamentals-of-public-relations-pr01-BdXYEV {
  --z-index: 0;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1039px;
}

.macbook-pro-263 .learn-how-to-create-BdXYEV {
  --z-index: 1;
  background-color: transparent;
  color: #828282;
  font-family: 'Sen', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 708px;
}

.macbook-pro-263 .frame-13894-BdXYEV {
  --z-index: 2;
  background-color: #f5f5f5;
  border-radius: 50px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 117px;
  width: 226px;
}

.macbook-pro-263 .date-registered-15-october2021-KxmlGe {
  --z-index: 0;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: auto;
}

.macbook-pro-263 .frame-13892-C61RwL {
  --z-index: 9;
  background-color: #1f365d;
  cursor: pointer;
  height: 51px;
  left: 1200px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 369px;
  width: 152px;
}

.macbook-pro-263 .view-project-35PfLW {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-263 .group-13992-C61RwL {
  --z-index: 10;
  background-color: transparent;
  height: 196px;
  left: 297px;
  opacity: 1;
  position: absolute;
  top: 516px;
  width: 1079px;
}

.macbook-pro-263 .rectangle-635-N5Z5Ef {
  --z-index: 0;
  background-color: #ffffff;
  border: 1px solid #e9e8e8;
  height: 196px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1079px;
}

.macbook-pro-263 .group-13990-N5Z5Ef {
  --z-index: 1;
  background-color: transparent;
  height: 149px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 1043px;
}

.macbook-pro-263 .implementing-a-susta-PG7l5m {
  --z-index: 0;
  background-color: transparent;
  color: #1f365d;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1039px;
}

.macbook-pro-263 .learn-how-to-manage-PG7l5m {
  --z-index: 1;
  background-color: transparent;
  color: #828282;
  font-family: 'Sen', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 708px;
}

.macbook-pro-263 .frame-13894-PG7l5m {
  --z-index: 2;
  background-color: #f5f5f5;
  border-radius: 50px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 117px;
  width: 237px;
}

.macbook-pro-263 .date-registered-24-december2021-qd2xa3 {
  --z-index: 0;
  background-color: transparent;
  color: #4f4e4e;
  font-family: 'Sen', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 9px;
  width: auto;
}

.macbook-pro-263 .frame-13893-C61RwL {
  --z-index: 11;
  background-color: #1f365d;
  height: 51px;
  left: 1200px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 589px;
  width: 152px;
}

.macbook-pro-263 .view-project-wcoRkW {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-263 .frame-13897-C61RwL {
  --z-index: 12;
  background-color: #1f365d;
  cursor: pointer;
  height: 51px;
  left: 1230px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 110px;
  width: 170px;
}

.macbook-pro-263 .join-live-class-JALU5O {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-263 .component-68-C61RwL {
  --z-index: 13;
  background-color: transparent;
  height: 900px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 241px;
}

.macbook-pro-263 .rectangle-614-nNsPgi {
  --z-index: 0;
  background-color: #1f365d;
  height: 900px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 241px;
}

.macbook-pro-263 .lspr-ng-white-01-nNsPgi {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/lspr-ng-white-01-1@2x.png);
  background-size: 100% 100%;
  height: 16px;
  left: 24px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  width: 88px;
}

.macbook-pro-263 .vector-297-nNsPgi {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/vector-297@2x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 63px;
  width: 193px;
}

.macbook-pro-263 .group-13877-nNsPgi {
  --z-index: 3;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 91px;
  width: 131px;
}

.macbook-pro-263 .group-13876-k8wJNV {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-263 .frame-13876-k8wJNV {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 115px;
}

.macbook-pro-263 .frame-AHo18u {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-2@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-263 .dashboard-AHo18u {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-263 .group-13878-nNsPgi {
  --z-index: 4;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 143px;
  width: 135px;
}

.macbook-pro-263 .group-13879-Khdl9f {
  --z-index: 0;
  background-color: transparent;
  height: 36px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 135px;
}

.macbook-pro-263 .group-13876-xJ1Ryu {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-263 .frame-13878-xJ1Ryu {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 119px;
}

.macbook-pro-263 .frame-kem3xV {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-3@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-263 .my-courses-kem3xV {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-263 .group-13882-nNsPgi {
  --z-index: 5;
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 195px;
  width: 193px;
}

.macbook-pro-263 .group-13879-eiKoXl {
  --z-index: 0;
  background-color: transparent;
  height: 48px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 193px;
}

.macbook-pro-263 .group-13876-cdybMX {
  --z-index: 0;
  background-color: transparent;
  height: 48px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 193px;
}

.macbook-pro-263 .rectangle-627-dZvPEy {
  --z-index: 0;
  background-color: #ffffff14;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 193px;
}

.macbook-pro-263 .frame-13878-cdybMX {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 147px;
}

.macbook-pro-263 .frame-M7M1x0 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-4@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-263 .my-assessment-M7M1x0 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-263 .group-13883-nNsPgi {
  --z-index: 6;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 247px;
  width: 158px;
}

.macbook-pro-263 .group-13879-3eiKdE {
  --z-index: 0;
  background-color: transparent;
  height: 36px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 158px;
}

.macbook-pro-263 .group-13876-gGmxwX {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-263 .frame-13878-gGmxwX {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 142px;
}

.macbook-pro-263 .certificate-1-6weCYu {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/certificate-1-5@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-263 .my-certificate-6weCYu {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-263 .group-13880-nNsPgi {
  --z-index: 7;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 419px;
  width: 110px;
}

.macbook-pro-263 .group-13876-uNmFeH {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-263 .frame-13878-uNmFeH {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 94px;
}

.macbook-pro-263 .frame-xAgg2Q {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-5@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-263 .settings-xAgg2Q {
  --z-index: 1;
  background-color: transparent;
  color: #c7c7c7;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.macbook-pro-263 .group-13881-nNsPgi {
  --z-index: 8;
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 471px;
  width: 113px;
}

.macbook-pro-263 .group-13876-LWb7Ty {
  --z-index: 0;
  background-color: transparent;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 0px;
}

.macbook-pro-263 .frame-13878-LWb7Ty {
  --z-index: 1;
  background-color: transparent;
  height: 24px;
  left: 16px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 97px;
}

.macbook-pro-263 .frame-CUDywr {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/frame-6@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-263 .log-out-CUDywr {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Sen', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}
