/* screen - reset-password */

.reset-password {
  align-items: flex-start;
  background-color: var(--primary-colour1f365d);
  display: flex;
  width: 1440px;
}

.reset-password .overlap-group4 {
  height: 851px;
  position: relative;
  width: 1440px;
}

.reset-password .rectangle-14 {
  background-color: var(--whiteffffff);
  height: 517px;
  left: 417px;
  position: absolute;
  top: 145px;
  width: 606px;
}

.reset-password .reset-password-1 {
  left: 457px;
  letter-spacing: 0;
  position: absolute;
  top: 193px;
}

.reset-password .enter-a-new-password {
  left: 457px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 241px;
  width: 526px;
}

.reset-password .new-password {
  left: 457px;
  letter-spacing: 0;
  position: absolute;
  top: 325px;
}

.reset-password .rectangle-17 {
  background-color: var(--whiteffffff);
  height: 56px;
  left: 457px;
  position: absolute;
  top: 360px;
  width: 526px;
}

.reset-password .enter-your-new-password {
  left: 481px;
  letter-spacing: 0;
  position: absolute;
  top: 378px;
}

.reset-password .group-99 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 457px;
  min-height: 91px;
  position: absolute;
  top: 448px;
  width: 528px;
}

.reset-password .confirm-new-password {
  letter-spacing: 0;
  min-height: 19px;
}

.reset-password .overlap-group {
  align-items: flex-start;
  background-color: var(--whiteffffff);
  display: flex;
  height: 56px;
  margin-top: 16px;
  min-width: 526px;
  padding: 17px 23px;
}

.reset-password .overlap-group1 {
  align-items: flex-end;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  left: 457px;
  min-width: 526px;
  padding: 18px 204px;
  position: absolute;
  top: 571px;
}

.reset-password .reset-password-2 {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 117px;
}

.reset-password .show {
  left: 920px;
  letter-spacing: 0;
  position: absolute;
  top: 378px;
}

.reset-password .show-1 {
  left: 920px;
  letter-spacing: 0;
  position: absolute;
  top: 501px;
}

.reset-password .lspr-ng-white-01 {
  height: 20px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 108px;
}

.reset-password .group-13133 {
  background-color: var(--black-2);
  height: 851px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.reset-password .rectangle-18 {
  background-color: var(--whiteffffff);
  height: 510px;
  left: 457px;
  position: absolute;
  top: 171px;
  width: 526px;
}

.reset-password .group-102 {
  align-items: flex-start;
  border-radius: 75px;
  display: flex;
  height: 150px;
  left: 645px;
  min-width: 150px;
  padding: 16.2px 16.2px;
  position: absolute;
  top: 205px;
}

.reset-password .overlap-group2 {
  border-radius: 58.75px;
  height: 118px;
  position: relative;
  width: 118px;
}

.reset-password .ellipse-5 {
  background-color: var(--onahau-3);
  border-radius: 45px;
  height: 90px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 90px;
}

.reset-password .iconly-bold-message {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 28px;
  min-width: 60px;
  padding: 0 5.0px;
  position: absolute;
  top: 27px;
}

.reset-password .message {
  height: 46px;
  width: 50px;
}

.reset-password .check-your-mail {
  left: 630px;
  letter-spacing: 0;
  position: absolute;
  top: 371px;
}

.reset-password .a-reset-link-has-bee {
  left: 521px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 419px;
  width: 399px;
}

.reset-password .span1 {
  color: var(--primary-colour45b5e3);
  font-family: var(--font-family-sen);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.reset-password .vector-5 {
  height: 2px;
  left: 497px;
  position: absolute;
  top: 600px;
  width: 449px;
}

.reset-password .didnt-receive-reset-link-resend-link {
  left: 497px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 617px;
}

.reset-password .group-87 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 56px;
  left: 497px;
  min-width: 448px;
  position: absolute;
  top: 521px;
}

.reset-password .overlap-group3 {
  align-items: flex-end;
  background-color: var(--primary-colour1f365d);
  display: flex;
  height: 56px;
  min-width: 446px;
  padding: 18px 183px;
}

.reset-password .go-to-mail {
  letter-spacing: 0;
  min-height: 19px;
  min-width: 79px;
}
